- const creator = '@iamdtms';
- const title = '';
- const desc = '';
- const keywords = '';
- const titlecolor = '#cccccc';
- const darkcolor = '#010101';
- const lightcolor = '#fefefe';
  doctype html
  html(lang='en' dir='ltr')
    head
      meta(http-equiv='Content-Security-Policy' content='default-src \'self\' \'unsafe-inline\'; font-src fonts.gstatic.com \'self\'; style-src fonts.googleapis.com \'self\' \'unsafe-inline\'; script-src \'self\'; img-src \'self\' data:; manifest-src \'self\'; connect-src \'self\' \'unsafe-inline\'; object-src \'none\';')
      meta(charset='utf-8')
      title=title
      meta(property='og:type' content='website')
      meta(property='og:site_name' content=title)
      meta(name='twitter:creator' content=creator)
      meta(property='og:site_name' content=title)
      meta(name='twitter:title' content=title)
      meta(name='description' content=desc)
      meta(property='og:description' content=desc)
      meta(itemprop='description' content=desc)
      meta(name='twitter:description' content=desc)
      meta(name='author' content=creator)
      meta(name='keywords' content=keywords)
      meta(name='viewport' content='initial-scale=1,width=device-width')
      meta(name='googlebot' content='all')
      meta(name='msapplication-TileColor' content=titlecolor)
      link(rel='stylesheet' href='/assets/style/sanitize.min.css')
      link(rel='stylesheet' href='/assets/style/light-theme.min.css' id="color-scheme")
      link(rel='stylesheet' href='/assets/style/style.min.css')
      meta(name='theme-color' media='(prefers-color-scheme: dark)' content=darkcolor)
      meta(name='theme-color' media='(prefers-color-scheme: light)' content=lightcolor)
    body
      .container 
        a(href='#' class='btn-toggle')
      script(src='assets/script/site.min.js' defer)
